.triangle {
	color: #fff;
	width: 32px;
	height: 20px;
	overflow: hidden;
	font-size: 11px;
	vertical-align: middle;
	text-align: center;
	background: url('/img/triangle.png');
	background-size: 32px 20px;
	background-repeat: no-repeat;
	padding-top: 6px;
}
.tri-blue .triangle {
	background-color: #1d3e86;
}
.tri-red .triangle {
	background-color: #d6005f;
}
