body {
	background: transparent url('/Consulta/img/triangulos_fading_50.png') no-repeat left bottom fixed;
}
.triangulos {
}

.container {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 6px;
	background-color: rgba(255,255,255,.3) !important;
}

.container .bg-white {
	background-color: #fff;
}

.container .bg-white-semi {
	background-color: rgba(255,255,255,.7);
}

.container .bg-black {
	background-color: #000;
	border-radius: 6px;
}

.temas {
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.temas:hover .subtemas {
	display: block;
}
.tema-vagao {
	list-style: none;
	padding: 4px 0 4px 4px;
	margin: 4px 0 4px 4px; 
}

.tema-vagao .badge {
	float: right;
}