<?php
	$this->extend('Bootstrap./Common/index'); // Extend index padrao
	$this->assign('pageHeader',$pageHeader); // Header da página
	$this->assign('panelStyle',$panelStyle); // Estilo do painel da página ( 'default' como padrao )
?>
<?php $this->start('actions');?>
	<?php echo $this->Bootstrap->btnLink('Adicionar ao Programa', array('action'=>'adicionar_programa', $programa_id)); ?>
<?php $this->end(); ?>

<?php $this->start('table-tr'); ?>
	<?php // Cabecalho da tabela para a listagem ?>
	<tr class="active">
		<th class="col-md-2">&nbsp;</th>
		<th>Nome</th>
		<th>Temática Pai</th>
	</tr>
<?php $this->end(); ?>

<?php $this->start('table-body'); ?>
<?php // Corpo da tabela para a listagem ?>
<?php foreach ($data as $Model) { ?>
	<tr>
		<td>
			<div class="btn-group">
			<?php echo $this->Bootstrap->btnLink(null, array('action'=>'deletar_programa', $Model['ProgramaTematica']['id'], $Model['ProgramaTematica']['programa_id']), array('title'=>'Excluir do Programa','icon'=>'trash','method'=>'post','prompt'=>true,'message'=>'Tem Certeza?')); ?>
			</div>
		</td>
		<td><?php echo $Model['Tematica']['nome']; ?></td>
		<td><?php echo (isset($Model['Tematica']['TopTematica']['nome']))?($Model['Tematica']['TopTematica']['nome']):('Nenhuma'); ?></td>
	</tr>
<?php } ?>
<?php $this->end(); ?>
