	<option value="0">Todos os Municípios do Estado</option>
<?php foreach($Municipios as $Municipio) { ?>
	<option value="<?php echo $Municipio['Municipio']['id'];?>"><?php echo $Municipio['Municipio']['nome'];?></option>
<?php } ?>