<?php //pr($Ocorrencias); ?>
<?php foreach ($Ocorrencias as $Ocorrencia) { ?>
	<div class="panel panel-info">
		<div class="panel-heading">
			<?php echo $Ocorrencia['Programa']['nome_oficial']; ?>
		</div>
		<div class="panel-body">
			<p><?php echo $Ocorrencia['Programa']['descricao']; ?></p>
			<p><?php echo $Ocorrencia['OcorrenciaMunicipal']['beneficios_locais']; ?></p>
		</div>
		<div class="panel-footer">
			Rodapé
		</div>
	</div>
<?php } ?>