<div class="page-header">
	<h1>Download da Aplicação</h1>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		Aplicação Offline
	</div>
	<div class="panel-body">
		<p>
		
		</p>
		<a href="/administracao/Offline/app">Download</a>
	</div>
</div>
