<div class="page-header">
	<h1>Download de Dados</h1>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		Aplicação Offline - Dados
	</div>
	<div class="panel-body">
		<p>
		
		</p>
		<a href="/administracao/Offline/data/estados">Download Estados</a><br>
		<a href="/administracao/Offline/data/municipios">Download Municípios</a><br>
		<a href="/administracao/Offline/data/tematicas">Download Temáticas</a><br>
		<br>
		<a href="/administracao/Offline/data/programas">Download Programas/Ocorrências</a><br>
	</div>
</div>